*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
.nunito{
    font-family: 'Nunito', sans-serif;
}
/*----------Main---------*/
main{
    height: 90vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container{
    background-color: black;
    flex-basis: 90%;
    height: 85%;
    align-self: flex-end;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}
.icon-view{
    position: absolute;
    top: 1%;
    right: 0.3%;
    display: flex;
    width: 8%;
    background-color: gray;
    padding: 0.2%;
    border-radius: 5px;
    margin-right: 1.5%;
}
.icon-view-2{
    margin-left: 3%;
    position: absolute;
    top: 1%;
    right: 0.3%;
    display: flex;
    background-color: gray;
    padding: 0.2%;
    border-radius: 5px;
}
.text-view, 
.speaker-view,
.gallery-view{
    font-size: 0.8em;
    color: white;
}
.fa-table-cells{
    color: white;
}
.grid-icon{
    font-size: 4pt;
    letter-spacing: 2px;
    line-height: 75%;
    color: white;
    margin-right: 2%;
}
#drop-down-menu{
    display: none;
    color: white;
}
.fa-maximize{
    color: white;
    font-size: 0.8em;
}
/*----------Box-items---------*/
.box-item{
    flex-basis: 13.8%;
    margin-left: 0.2%;
    margin-bottom: 0.8%;
    display: flex;
    align-items: flex-end;
}
.item-1{
    background-image: url('../img/1.png');
    background-size: cover;
}
.item-2{
    background-image: url('../img/2.png');
    background-size: cover;
}
.item-3{
    background-image: url('../img/3.png');
    background-size: cover;
}
.item-4{
    background-image: url('../img/4.png');
    background-size: cover;
}
.item-5{
    background-image: url('../img/5.png');
    background-size: cover;
}
.item-6{
    background-image: url('../img/6.png');
    background-size: cover;
}
.item-7{
    background-image: url('../img/7.png');
    background-size: cover;
}
.item-8{
    background-image: url('../img/8.png');
    background-size: cover;
}
.item-9{
    background-image: url('../img/9.png');
    background-size: cover;
}
.item-10{
    background-image: url('../img/10.png');
    background-size: cover;
}
.item-11{
    background-image: url('../img/11.png');
    background-size: cover;
    border: 3px solid rgba(153, 205, 50, 0.842);
}
.item-12{
    background-image: url('../img/12.png');
    background-size: cover;
}
.item-13{
    background-image: url('../img/13.png');
    background-size: cover;
}
.item-14{
    background-image: url('../img/14.png');
    background-size: cover;
}
.item-15{
    background-image: url('../img/15.png');
    background-size: cover;
}
.item-16{
    background-image: url('../img/16.png');
    background-size: cover;
}
.item-17{
    background-image: url('../img/17.png');
    background-size: cover;
}
.item-18{
    background-image: url('../img/18.png');
    background-size: cover;
}
.item-19{
    background-image: url('../img/19.png');
    background-size: cover;
}
.item-20{
    background-image: url('../img/20.png');
    background-size: cover;
}
.item-21{
    background-image: url('../img/21.png');
    background-size: cover;
}
.item-22{
    background-image: url('../img/22.png');
    background-size: cover;
}
.item-23{
    background-image: url('../img/23.png');
    background-size: cover;
}
.item-24{
    background-image: url('../img/24.png');
    background-size: cover;
}
.item-25{
    background-image: url('../img/25.png');
    background-size: cover;
}
.item-26{
    background-image: url('../img/26.png');
    background-size: cover;
}
.item-27{
    background-image: url('../img/27.png');
    background-size: cover;
}
.item-28{
    background-image: url('../img/28.png');
    background-size: cover;
}
.item-29{
    background-image: url('../img/29.png');
    background-size: cover;
}
.item-30{
    background-image: url('../img/30.png');
    background-size: cover;
}
.item-31{
    background-image: url('../img/31.png');
    background-size: cover;
}
/*-------Hover---------*/
.icon-view:hover .text-view{
    display: none;
}
.icon-view:hover #drop-down-menu{
    display: inline-block;
    background-color: gray;
    padding: 1%;
    border-radius: 5px;
    cursor: pointer;
}
.icon-view-2:hover .fa-maximize{
    cursor: pointer;
}
.speaker-view:hover{
    text-decoration-line: underline;
}
.gallery-view:hover{
    text-decoration-line: underline;
}
.icon-view:hover .grid-icon{
    cursor: pointer;
}
/*----------Left-menu-Hover---------*/
/*----------Box-1---------*/
.left-menu:hover .box-1{
    cursor: pointer;
}
.left-menu .box-1:active .box-left-1{
    display: none;
}
.box-left-hov-box-1{
    display: none;
}
.left-menu .box-1:active .box-left-hov-box-1{
    display: inline-block;
}
/*----------Box-2---------*/
.left-menu:hover .box-2{
    cursor: pointer;
}
.left-menu .box-2:active .box-left-1{
    display: none;
}
.box-left-hov-box-2{
    display: none;
}
.left-menu .box-2:active .box-left-hov-box-2{
    display: inline-block;
}
/*----------Center-menu-Hover---------*/
.center-menu:hover .box-center{
    cursor: pointer;
}
/*----------Right-menu-Hover---------*/
.right-menu:hover span{
    cursor: pointer;
}
/*----------Utility---------*/
.capital{
    text-transform: capitalize;
}
.c-w{
    color: white;
}
.em-1-5{
    font-size: 1.5em;
}
.em-0-8{
    font-size: 0.8em;
}
.em-0-6{
    font-size: 0.6em;
}
.em-0-5{
    font-size: 0.5em;
}
.m-b-50{
    margin-bottom: 50%;
}
.m-b-30{
    margin-bottom: 30%;
}
.fw-b{
    font-weight: bold
}
.c-g{
    color: rgb(35, 226, 35);
}
.c-r{
    color: red;
}
.bg-gray{
    background-color: gray;
}
.bg-gray-2{
    background-color: rgba(128, 128, 128, 0.897);
}
.p-1-5{
    padding: 1.5%;
}
.w-40{
    width: 41%;
}
/*----------Footer---------*/
footer{
    height: 10vh;
    background-color: rgb(58, 58, 58);
    display: flex;
    justify-content: space-between;
}
/*----------Menu---------*/
.left-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    flex-basis: 10%;
}
.center-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    flex-basis: 45%;
}
.right-menu{
    display: flex;
    align-items: center;
    flex-basis: 8%;
    justify-content: space-around;
}
.col-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.col-2{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}